*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   height: 100vh;
   background:url(images/Pembe\ Beyaz\ Gradyan\ Etkinlik\ Video\ Arka\ Planı.gif);
   background-repeat:no-repeat;
   background-size: cover;   
}

.container{
    background-color: white;
    max-width: 350px;
    width: 100%;
    height: 80%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
    position: relative;
    margin: 100px auto;
}
.container .logo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    position: absolute;
    left: 50%;
    top:10px;

}
.container form .title{
    font-size: 40px;
    font-weight: 600;
    margin: 90px 0 10px 0;
    position: relative;
}
.container form .title::before{
   content: "";
   position: absolute;
   height: 4px;
   width: 33px;
   bottom:2px;
   left: 0;
   border-radius: 5px;
}
.container form .input-box{
   position: relative;
   margin-top: 25px;
   width: 100%;
   height: 45px;
}
.container form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border:none;
    font-size: 16px;
    
 }
 .container form.underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background:#ccc ;
    transform-origin: left;
    bottom: 0;
    left: 0;

 }
 .container form .underline:after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background:#bc4f4f ;
    bottom: 0;
    left: 0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease ;
   
 }
 .container form .input-box input:focus~.underline:after,
 .container form .input-box input:valid~.underline:after {
     transform: scaleX(1);
     transform-origin: left;
 }

 .container form .button {
    margin: 40px 0 20px 0;
}

.container form .input-box input[type="submit"] {
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: red;
    transition: all 0.3s ease;
}

.container form .input-box input[type="submit"]:hover {
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.15);
    color: red;
    font-weight: bold;
    border-radius: 10px;
}


.container .text{
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.container .github a,
.container .twitter a,
.container .facebook a{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
}

.container .github a{
    background-color: #24292e;
    margin: 20px 0 15px 0;
}

.container .github a:hover{
    background-color: #6d7e8f;
}

.container .twitter a{
    background: #1ad1f2;
    margin: 15px 0;
}

.container .twitter a:hover{
    background: #82a9af;
}

.container .facebook a{
    background: #4267b2;
    
}

.container .facebook a:hover{
    background: #8797b6;
}

.container .github i,
.container .twitter i,
.container .facebook i{
    font-size: 22px;
    padding-right: 22px;
}



